
{% extends 'base.html' %}

{% block content %}

<div class="conteiner mt-4">
    <h3 class="display-6">Deletar Fornecedor</h3>
    <div class="card">
        <div class="card-body">
            <p class="card-text">Tem certeza que deseja excluir o Fornecedor <strong>{{ object.name }} ?</strong></p>
            <form method="post" class="form">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger mt-3">Excluir Fornecedor</button>
            </form>
        </div>
    </div>
    <a href="{% url 'supplier_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar para a Lista de Fornecedores</a>
</div>

{% endblock %}